{% extends 'base.html.twig' %}

{% block title %}Corpo-Rats - Nos services{% endblock %}

{% block body %}
    <h2 class="bg-black w-fit py-4 px-6 text-white">Nos services</h2>
    <section></section>
{% endblock %}